@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* CSS RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* END RESET RULES */

:root {
    --dark-cyan: hsl(158, 36%, 37%); 
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%); 
    --dark-grayish-blue: hsl(228, 12%, 48%); 
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --font-size: 14px;
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 343px;
    height: 611px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('images/image-product-mobile.jpg');
    width: 343px;
    height: 240px;
}

.desktop-image {
    display: none;
}

.content {
    padding: 24px;
    background-color: var(--white);
}

.content h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 16px;
}

.content > p:nth-child(1) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.63px;
    letter-spacing: 5px;
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    margin-bottom: 12px;
}

.content > p:nth-child(3) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: var(--dark-grayish-blue);
    margin-bottom: 24px;
}

.item-price p {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: var(--dark-cyan);
    margin-bottom: 24px;
    display: flex;
}

.item-price span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: var(--dark-cyan);
    text-decoration: line-through;
    margin: auto 20px;
}


.submit-btn {
    min-width: 295px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: var(--dark-cyan);
    line-height: 17.07px;
    font-weight: 700;
    font-family: "montserrat", sans-serif;
    color: var(--white);
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .container {
        width: 600px;
        height: 450px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mobile-image {
        display: none;
    }

    .desktop-image {
        display: block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        max-width: 300px;
    }

    .content {
        padding: 32px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .content > p:nth-child(1) {
        font-size: 12px;
        line-height: 14.63px;
        margin-bottom: 20px;
    }

    .content > p:nth-child(3) {
        font-size: var(--font-size);
    }

    .submit-btn {
        min-width: 236px;
    }

    .submit-btn:hover {
        background-color: var(--very-dark-blue);
    }
}